
:root{
/* root colors */
   --mainPrimaryColor      :White;
   --ColorGray             :#D2D5CE; 
   --colorBrown            :#9E8b68 ; 
   --colorSand             :#FFF7C6; 
   --colorMustard          :#FFc800; 
   --colorRed              :#cc0701 ; 
   
}
/* bodystyling */
body {
    background-color: var(--ColorGray);
}

.box{
    width: 200px;
    height: 150px;
    transition: 1s;
    background-color: brown;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    color: rgba(178, 34, 34, 0);
}

.box:hover {
    width: 500px;
    height: 200px;
    cursor: pointer;
}

.hiddentext:hover {
    color: black;    
}

.Winkelmandje {
    border: 1px black dotted;
}

.page-content {
    margin-top: 30px;
    min-height: 250px;
}

.MethodeKnoppen {
    width:          50%;
    margin-left:    5%;
    
}

#complete {
    height: 50px;
    width: 50px;
    background-color: var(--colorRed);
    position: fixed;
    animation: waiting 5s infinite;
}

@keyframes waiting {
    0%{
        right: 10%;
        top: 25%;
        rotate: 90deg;
    }
    25%{
        right: 20%;
        top: 25%;
        rotate: 90deg;
    }
    50%{
        right: 20%;
        top: 35%;
        rotate: 90deg;
    }
    75%{
        right: 10%;
        top: 35%;
        rotate: 90deg;
    }
    100%{
        right: 10%;
        top: 25%;
    }
}

.container_Big{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--colorSand);
}